
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<ul class="list-group">
           <li class="list-group-item">
            <h4 class="list-group-item-heading">Course Title</h4>
            <p class="list-group-item-text">
                Course Description <br />
                    <i class="fa fa-hand-o-right"></i> Register
            </p>
        </li>
</ul>
