@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WiscoCorp</h1>
    <p class="lead">Company Motto</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Take a look at what we offer and what our programs can do for you.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Course List</h2>
        <p>See what available courses we currently offer.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Do you want your business to be our next client? Signup today!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>